language: node_js
node_js: node
cache:
  directories:
  - node_modules
deploy:
  provider: heroku
  api_key:
    secure: WBT4MPhfq3Xb1UiDwbbCfEckteSfIulHHcJ3HaQLZrViArnmu35j4zr5rU4/nCDqMOWXgczFbEATAouSa03Cf8fdr5x88qEW0/mhQA08gGWq0YBXCUzPG4dKUJDRJJ7eKkl0WrIzPttwmk1bga/g3jFdFdanEcyMeoZA3FOcOWHF0MHqL4xxnxNCfghz1itZZvi+OkmQF70+5N8nNZxyzi0GJ2q4K3U/lHTd/i8bSBBuwUV+WVcl7K9qYXt9Lb6rez07zhNb7pZvMJtE1Rt1s+GexPUY/pH4wsd/ZmkjtwDDI10HQRWg9iEIkvwymTxf8ZHkcf2kAPm7ZreOIar8AhuQ+srg3nPMM9g5j1FRjFfhb7hg7yH4f12pzmk/ioa8a0o4XZkMDLSexvt+QyygKl9H3geYmtQb6zAeQEFmxKizkMX7jUBFIfOUFl/uq6YpEhBJKyOh+ual2SytqD2E3oRAWHWziXqzKZJnolxXhsIiHzWfd4KbuRbUL0CgjASN31H9fD2M+VB9QcSu5OORJgDbgNLfe4mqzdUtmjrRgLDCCEAbXRJuRwkJUquczkzqINYGnoekAE2XUwyOjzacL1SJ9ngGmGE114LWZa49md0xAjcmEIk7jn6BBPmDZMJQZnjuLBIQVOuWuLRQ+91b7fHZYGnBaS9+wCQsMiJmUs0=
  app: meet-in-the-middle-frontend
  on:
    repo: gennyallcroft/meet-in-the-middle-react-front-end
