.greeting {
  margin-left: "10px";
  font-family: "Verdana";
  padding: "5px"
}

.slider {
  animation: 0.5s ease-out 0s 1 opacity;
}

@keyframes slideDownFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.locationFormContainer {
  display: block;
  padding: 0px;
  background-color: #ebf2ff;
  position: absolute;
  z-index: 2;
  top: 200px;
  left: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.midlLocationContainer {
  display: block;
  padding: 0px;
  background-color: #ebf2ff;
  position: absolute;
  z-index: 2;
  margin-top: 5px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.address_text_box {
  padding: 5px;
  width: 350px;
  margin-right: 10px;
  border-radius: 10px;
  outline:0
}

.myButton {
  outline:0;
  margin-right: 3px;
  -moz-box-shadow: inset 0px 1px 0px 0px #dcecfb;
  -webkit-box-shadow: inset 0px 1px 0px 0px #dcecfb;
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #bddbfa),
    color-stop(1, #80b5ea)
  );
  background: -moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background: -webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background: -o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background: -ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
  background-color: #bddbfa;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  margin-top: 5px;
}
.myButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #80b5ea),
    color-stop(1, #bddbfa)
  );
  background: -moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background: -webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background: -o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background: -ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
  background-color: #80b5ea;
}
.myButton:active {
  position: relative;
  top: 1px;
}
