.locationFormContainer {
  display: block;
  padding: 0px;
  background-color: white;
  border: 2px solid;
  position: absolute;
  z-index: 1;
  top: 200px;
  left: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 32px;
  margin-right: 32px;
}

/* Hide the browser's default radio button */
.container input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  background-color: #f3cad0;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.transportIcon {
  position: absolute;
  top:5px;
  left:5px
}

/* On mouse-over, add a grey background color */
.checkmark:hover {
  background-color: #ebf2sd;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.greeting {
  margin-left: "10px";
  font-family: 'Roboto Condensed', sans-serif;
  padding: "5px"
}

.transportButton {
  size: 20px;
}

h2 {
  padding: 10px;
  margin: 0px
}

.slider {
  animation: 0.5s ease-out 0s 1 opacity;
}

@keyframes slideDownFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.NavBarContainer {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 99px;
  right: 0px;

  border-bottom: 3px solid;
  border-bottom-color: black;
}

.logo {
  height: 73px;
  margin: 12px;
  position: absolute;
  left: 27px;
}

.signUpContainer {
  top: 102px;
  position: absolute;
  display: block;
  padding: 0px;
  background-color: #f3cad0;
  width: 101%;
  height: 100vh;
  z-index: 2;
  left: 0px;
  text-align: center;
}

.signUpForm {
  background-color: white;
  width: 500px;
  text-align: center;
  border: 3px solid;
  border-radius: 73px;
  margin-top: 38px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formLogo {
  height: 63px;
  margin: 28px;
  float: left;
  margin-left: 30px;
}

.formFillIn {
  top: 4px;
  position: relative;
  border-radius: 10px;
  height: 35px;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin: 11px auto;
  width: 80%;
}

.formHeading {
  margin-top: 107px;
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  top: -58px;
  left: -27px;
}

.signUpAvatar {
  height: 130px;
  margin: 10px;
  position: relative;
  top: -30px;
  left: 101px;
}

.selectAvatar {
  position: relative;
  margin: 0 auto;
  left: -21px;
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
}

.uploadAvatarButton {
  top: 133px;
  text-align: center;
  height: 17px;
  font-size: 12px;
  width: 13%;
  left: -119px;
  border: 2px solid;
  border-color: #f3cad0;
  border-radius: 26px;
  margin: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: black;
  color: #f3cad0;
  position: relative;
}



.passwordInfo {
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  top: 9px;
  left: -116px;
}

.avatarInfo {

}

.midlLocationContainer {
  /* display: block; */
  padding: 0px;
  background-color: white;
  position: absolute;
  z-index: 1;
  margin-top: 5px;
  border-radius: 20px;
  border: 2px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.journeyTime {
  display: block;
  top: 100px;
  right: 20px;
  padding: 0px;
  background-color: white;
  border: 2px solid;
  position: absolute;
  z-index: 2;
  margin-top: 5px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.enterButton {
  height: 39px;
  width: 16%;
  border: 2px solid;
  border-color: #f3cad0;
  border-radius: 26px;
  margin: 16px;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: black;
  color: #f3cad0;
  position: relative;
  top: -5px;
}

.address_text_box {
  padding: 5px;
  width: 300px;
  margin-right: 10px;
  border-radius: 10px;
  outline:0
}

.myButton {
  position: absolute;
  clear: both;
  -webkit-transition-duration: 0.2s;
  /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
  outline:0;
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background-color: black;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 50%;
  border: 3px solid #f3cad0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding: 6px 15px;
  color: #f3cad0;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80px;
  height: 80px;
  text-align: center;
}

.myButton:hover {
}

.myButton:active {
  position: relative;
  top: 1px;
  box-shadow: 0 0px #666;
  border-color: #2196F3;
  color: #2196F3;
  transform: translateY(3px);
}

.navBarButton {
  padding: 10px;
  outline: none;
  border: none;
  font-size: 23px;
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition-duration: 0.2s;
  /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
}

.navBarButton:hover {
  background-color: #ffebf8
}

.navBarButton:active {
  background-color: #ebc3dd;
  transform: translateY(3px);
  box-shadow: 0 0px #666;

}

.mapContainer {
  margin-top: 99px;
}
